::-webkit-scrollbar {
    display: none;
}
.mainContainer{
    height: 78%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
    padding: 0 4rem;
    
}
.card{
    height: 450px;
    width: 280px;
    /* border: 2px solid green; */
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0;
    box-shadow: 1px 1px 7px 5px rgba(0, 0, 0, 0.297);
    background-color: white;
}
.card img{
    height: 75%;
    width: 100%;
}